// Font
$font: "Poppins", sans-serif;

// Colors

// Text color
$text-color: #112d4e;

// Background
$background-color: #f9f7f7;

// Main gradient
$primary-color: #3f72af;
$secondary-color: #dbe2ef;
$tertiairy-color: #f9f7f7;

// Dark color
$dark-color: #112d4e;
